@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tagesschrift&display=swap');

body{
    background-color: rgb(231, 231, 231);
}
.image img{
    position: absolute;
    margin-top: 100px;
    opacity: 50%;
}
.login-container{
    text-align: center;
    margin-top: 100px;
}
.login-container input{
    border-radius: 10px;       
    padding: 8px;             
    border: 1px solid #ccc;   
    width: 200px;            
    margin-bottom: 10px;    
}
.login-container img{
    position: absolute;
    margin-top: -180px;
    margin-left: -780px;
    width: 700px;
    height: 500px;
}
.btn{
    border: 2px solid white;
    padding: 8px 25px;
    font-size: 20px;
    border-radius: 20px;
    background-color: bisque;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}
.header img{
    width: 50px;
    height: 45px;
    position: absolute;
    margin-left: 500px;
}
.title,h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
